@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kumbh+Sans:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply scroll-smooth;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  height: auto;
  min-height: screen;
}

main {
  height: calc(env(viewport-height, 100vh));
}

.result-wrapper {
  @apply md:border-l md:border-dark-gray md:border-opacity-35 md:pl-5 md:first-of-type:border-none md:first-of-type:pl-0;
}

.result-header {
  @apply mb-1 text-[0.6rem] font-[700] tracking-wider text-dark-gray md:mb-2 md:text-xs;
}

.result {
  @apply text-lg font-[500] text-v-dark-gray md:text-2xl;
}

.attribution a {
  @apply underline;
}
